src/main/mule/dataweave-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow doc:id="9a9fc758-96ba-4ee9-8a4a-f4efb2b23dcc" name="JsonToXMLFlow">
		<ee:transform doc:name="Transform Json to All Types" doc:id="bd13a585-6223-4c1d-9fe3-46fae40bfb6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
employee:{
	EmpID: payload.EmpID,
	EmpName: payload.EmpName,
	EmpStatus: payload.EmpStatus,
	EmpEmail: payload.EmpEmail
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="XMLToAllTypes" doc:id="e6c0344c-451b-41da-a5e7-7b691afd958f" >
		<ee:transform doc:name="Transform XML to All Types" doc:id="d9158194-f7d4-487c-aed7-fb6dd933b22e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price,
		properties: {
			title: payload.book.title,
			author: payload.book.author,
			year: payload.book.year,
			language: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="JsonToAttributes_based_XML" doc:id="a887dbfc-019a-4c11-9b4a-a8133277fed5" >
		<ee:transform doc:name="Transform Json to Attributes based XML" doc:id="f013f42a-587b-4486-a390-f692c2cd0076" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.language): payload.item.properties.title,
		year: payload.item.properties.year,
		price: payload.item.price,
		author @(loc:"USA"): payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow3" doc:id="38a080d8-bf44-467a-a185-2f1c0fd0912a" >
		<ee:transform doc:name="Transform CSV to All Types" doc:id="d52757ca-57c1-4322-aa82-16983a39da3b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv headerLineNumber = 0 , header = true
---
[{
	empID: payload.EmpID,
	" empName": payload.EmpName,
	" empEmail": payload.EmpStatus,
	" empStatus": payload.EmpEmail
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweave-demoFlow4" doc:id="e610b827-3914-41e1-8121-14a56c95b296" >
		<ee:transform doc:name="Transform XLSX file to XML" doc:id="9b84be77-3c02-4e99-b739-dbcd953e27c6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	employee: {
		EmpID: payload.empdata.empID as Number default 0,
		EmpName: payload.empdata.empName default "",
		EmpStatus: payload.empdata.empStatus default "",
		EmpEmail: payload.empdata.empEmail default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
